body {
    width:400px;
    height:130px;
 }

.mainButtons {
    display: flex;
    justify-content: space-between;
    width: 200px;
    height: 50px;
  }

.item{
    flex: auto;

}
.footer{
    display:flex;
    
    text-align: right;
}
.expandButton{
    flex:auto;
    padding-top:13px;
    width: 10px;
    height: 20px;
}
.about{
    font-size: 15px;
    flex:auto;
}


.popup{
    display:flex;
}


.mainView{
    flex: auto;
    padding-left:10px;
}

.scrollArea{
    width:180px;
    height:150px;
    overflow:auto;
    flex: auto;

}
.scrollArea select{
    overflow: visible;
    border:hidden;
    outline:0px;
} 
.scrollArea select option{
    border:0px;
} 

/* width */
.scrollArea::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
/* Track */
.scrollArea::-webkit-scrollbar-track {
background: #f1f1f1; 
}
   
/* Handle */
.scrollArea::-webkit-scrollbar-thumb {
    background: #888; 
}
  
/* Handle on hover */
.scrollArea::-webkit-scrollbar-thumb:hover {
    background: #555; 
}